<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Project by Tarun Krishnan</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{{url_for('index')}}" class="logo"><strong>Form</strong></a>
					<nav id="nav">
						<a href="{{url_for('index')}}">Home</a>
						<a href="{{url_for('register')}}">Register</a>
						<a href="{{url_for('login')}}">Login</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Welcome to This Project.</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3>Create</h3>
							<p>Make and publish your own forms.</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Browse</h3>
							<p>Discover forms that other users have made.</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Fill</h3>
							<p>Enter a code to fill a form of your choice.</p>
						</div>

					</div>
				</div>
			</section>


		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>